@media screen and (min-width: 1024px){
  .wrapper{
    flex-direction: row;

  }
  .about-me-container{
    padding: 110px 90px 110px 90px;
  }
  .my-photo{
    width: 370px;
    }
    .sidebar{
      width: 370px;
    }
}